* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   //background-color: red;

   .main-container {
      width: 1080px;
      margin: 0 auto;
   }
}

.left {
   width: 50%;
   float: left;
}

.right {
   float: right;
   width: 50%;

   .interior-bgd {
      //background-color: black;
      background-image: url("../../images/mockup15.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 550px;
      width: 550px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .frame {
         //border: 2px solid black;
         position: absolute;
         top: 5%;
         left: 38%;
         height: 212px;
         width: 150px;
         //right: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         //background-color: black;

         img {
            //padding: 10px;
            max-height: 200px;
            //width: 150px;
            background-size: cover;
            background-position: center;
            //border: 2px solid black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
      }
   }
}
